html, body {
	width: 100%;
	height: 100%;
  margin: 0px;
  padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

html {	
	flex-direction: column;
}

body {
	flex-direction: row;
	overflow: hidden;
  touch-action: none;
	background: black;
}

#status {
  color: white;
  position: absolute;
  top: 450px;
  left: 105px;
  width: 200px;
  text-align: center;
  font-size: 24px;
}

#totalDuration {
  color: white;
  position: absolute;
  top: 480px;
  left: 105px;
  width: 200px;
  text-align: center;
  font-size: 24px;
}

#content {
  position: relative;
	margin: auto;
  width: 100%;
  max-width: 896px;
	height: 100%;
  max-height: 896px;
  background-image: url(bg_img.jpg);
  border: solid white;
}

#info_cta {
  position: absolute;
  top: 20px;
  right: 20px;
}

#play-toggle, #download {
  position: absolute;
  bottom: 0px;
  height: 98px;
  width: 448px;
  border: 0;
}

#play-toggle {
  left: 0px;
}

#play-toggle.play {
  background-image: url(play_img.png);
}

#play-toggle.stop {
  background-image: url(stop_img.jpg);
}

#download {
  /* slighlty off to show border */
  left: 442px; 
  background-image: url(download_img.png);
}

.preview {
  position: absolute;
  bottom: 7px;
  left: 3px;
  height: 57px;
  width: 208px;
  border: 0;
}

.preview.play {
  background-image: url(component_preview_img.png);
}

.preview.stop {
  background-image: url(component_preview_stop_img.jpg);
}

.previewDuration {
  position: absolute;
  width: 50px;
  bottom: 100px;
  text-align: center;
  left: 83px;
}

input.repeat {
  position: absolute;
  width: 50px;
  top: 120px;
  left: 85px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* scroll */

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  bottom: 100px;  
  left: 50%;
  position: absolute;
}

.viewport {
  position: absolute;
  pointer-events: none;  
  width: 100%;
  bottom: 100px;
  left: 50%;
}

.num {
  position: absolute;
  color: #555; 
  color: #fafafa; 
  font-size: 18px;
  line-height: 1;
  top: 14px;
  left: 8px;  
  text-shadow: 
     1px  1px 0px #555, 
    -1px -1px 0px #555, 
     1px -1px 0px #555, 
    -1px  1px 0px #555;
}

.box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  position: relative;
}

#progress {
  background-color: greenyellow;
  position: absolute;
  top: 510px;
  left: 50px;
  width: 0px;
  height: 2px;
}